@font-face {
  font-family: VT;
  src: url('./VT323-Regular.ttf');
}

html {
  overflow: hidden;
  image-rendering: crisp-edges;

  font-family: VT;
}

.canvas {
  margin: 50px auto 0;
  display: block;
  border: 3px solid #555;
  border-radius: 3px;
}

.game {
  width: 800px;
}

.buModal {
  z-index: 3;
  position: absolute;
  border: 2px solid black;
  background-color: white;
}

.pModal {
  position: absolute;
}

.outerUI {
  position: absolute;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  height: 800px;
  width: 800px;
}

#game { 
  position: relative;
  top: 100px;
  z-index: 0;
  border:1px solid red;
}

.lifeAsset {
}
