html {
  overflow: hidden;
  image-rendering: crisp-edges;
  font-family: 'Courier New';
  color: #73f6c6;
}

.canvas {
  margin: 50px auto 0;
  display: block;
  border-radius: 3px;
}

.game {
  width: 800px;
}

.buModal {
  z-index: 3;
  position: absolute;
  border: 2px solid #73f6c6;
  font-weight: 600;
  padding: 0 10px;
  text-align: center;
  font-size: 14px;
  background-color: black;
}

.pModal {
  position: absolute;
}

.outerUI {
  position: absolute;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  height: 800px;
  width: 800px;
}

#game { 
  position: relative;
  top: 100px;
  z-index: 0;
  border: 3px solid #73f6c6;
}

.body {
  background-color: black;
  display: flex;
  justify-content: center;
}

.lifeAsset {
}
