html {
  overflow: hidden;
  image-rendering: crisp-edges;
}

.canvas {
  margin: 50px auto 0;
  display: block;
  border: 3px solid #555;
  border-radius: 3px;
}

.game {
  width: 800px;
}

.modal {
  position: absolute;
  background-color: red;
}

.outerUI {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.lifeAsset {
}
